<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Echelon</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-light accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="cs-home.html">

        <div class="sidebar-brand-text mx-3">Echelon Customer Service</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="cs-home.html">
          <i class="fas fa-home"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Actions
      </div>

      <!-- Nav Item - Pages Collapse Menu -->        
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Create</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="create-class.html">Live Class</a>
            <a class="collapse-item" href="create-ondemand.html">On Demand</a>
            <a class="collapse-item" href="create-instructor.html">Instructor</a>
            <a class="collapse-item" href="create-prod.html">Product</a>
            <a class="collapse-item" href="create-categories.html">Category</a>
            <a class="collapse-item" href="create-plans.html">Plan</a>
          </div>
        </div>
      </li>        
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-share-square"></i>
          <span>Send</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Send Actions:</h6>
            <a class="collapse-item" href="global-apn.html">Global Notification</a>
            <a class="collapse-item" href="#">User Notification [SOON]</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Manage</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Manage Actions:</h6>
            <a class="collapse-item" href="users.html">Users</a>
            <a class="collapse-item" href="plans.html">Subscriptions</a>
            <a class="collapse-item" href="rides.html">Rides</a>
            <a class="collapse-item" href="filters.html">Filters</a>
            <a class="collapse-item" href="instructors.html">Instructors</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="reports.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Reports</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="class.html">
          <i class="fas fa-calendar-day"></i>
          <span>Classes</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="categories.html">
          <i class="fas fa-paperclip"></i>
          <span>Categories</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products.html">
          <i class="fas fa-box-open"></i>
          <span>Products</span></a>
      </li>
        
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
      
      
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <h5 class="m-0 font-weight-bold text-primary">Support User</h5>
            
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Valerie Luna</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="cs-profile.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="settings.html">
                  <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- Content Row -->
          <div class="row">
              
            <!-- Area Chart -->
            <div class="col-xl">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                    
                  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search searchbarL">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-3 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                    
                  <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="content">
                        <div class="row1">
                            <div class="block1" style="float: left;">
                                      <h5>Actions: </h5> <hr>
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#familyModal">Add Family Member</button>
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#primaryModal">Make Primary Account</button>
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#uinfoModal">Edit Profile</button>
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#exampleModal">Set Password</button>
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#emailModal">Update E-Mail</button> 
                                      <button type="button" class="btn btn-primary master" data-toggle="modal" data-target="#secModal">Update Security</button>
                            </div>
                            <div class="spacer block1" style="float: left; margin-left: 100px;">
                                <h5>Preview: </h5>
                                <hr>
                                <h6>First Name:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                                <h6>City:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                                <h6>State/Province:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                                <h6>Zip/Postal Code:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                                <h6>Purchased From:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                                <h6>Platform:&nbsp;<small class="text-muted"></small></h6>
                                <br>
                            </div>
                                <div class="block1" style="float: left; margin-left: 100px;">
                                    <br><hr>
                                    <h6>Last Name:&nbsp;<small class="text-muted"></small></h6>
                                    <br>
                                    <h6>E-Mail:&nbsp;<small class="text-muted"></small></h6>
                                    <br>
                                    <h6>Phone Number:&nbsp;<small class="text-muted"></small></h6>
                                    <br>
                                    <h6>Address:&nbsp;<small class="text-muted"></small></h6>
                                    <br>
                                    <h6>Country:&nbsp;<small class="text-muted"></small></h6>
                                    <br>
                                </div>
                            </div>
                                 <!--   <br><br><br>
                                    <div class="centerCC">
                                        <h5 class="text-info">Not Seeing the right Trial?</h5>
                                        <a href="/cs/fix90/<%= user._id %>" class="btn btn-primary">Fix 90 days</a>
                                        <a href="/cs/fix30/<%= user._id %>" class="btn btn-primary">Fix 30 days</a>
                                    </div> -->
                        </div>
                    
                  </div>
                </div>
              </div>
            </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                              <form action="/cs/setpw/<%= user._id %>" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" name="pw" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="Submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                          </div>
                        </div>
                      </div>
                    
                      <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Update E-Mail</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/cs/setem/<%= user._id %>" method="POST">
                                        <div class="form-group">
                                                <label>E-Mail</label>
                                                <input type="email" class="form-control" name="email" required>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                              </div>
                            </div>
                    
                    <!-- Manual Sub Block-->
                      <div class="modal fade" id="mansubModal" tabindex="-1" role="dialog" aria-labelledby="mansubModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Manual Subscription</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                      <form action="/cs/mansub/<%= user._id %>" method="POST">
                                        <div class="form-group">
                                            <label>Duration (in days)</label>
                                            <input type="number" class="form-control" name="duration" value="30" required/>
                                        </div>
                                        <div class="form-group">
                                            <label>Free Trial (in days)</label>
                                            <input type="number" class="form-control" name="freetrial" value="0" required/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                            <div class="input-group">
                                              <div class="input-group-addon">$</div>
                                              <input type="text" class="form-control" id="exampleInputAmount" name="price" placeholder="Amount">
                                            </div>
                                          </div>
                                        <div class="form-group">
                                            <label>Subscribed to:</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="connect"> Connect
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="flex"> Flex/Slim Cycle/Fit Quest Pro
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="extraMile"> Extra Mile
                                              </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="card-element">
                                                Credit or debit card (Your credit card will not be charged until the time of renewal)
                                            </label>
                                            <div id="card-element">
                                                <!-- A Stripe Element will be inserted here. -->
                                            </div>

                                            <!-- Used to display form errors. -->
                                            <div id="card-errors" class="text-danger" role="alert"></div>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                              <input type="checkbox" name="auto-renew"> Auto-Renews
                                            </label>
                                          </div>

                              
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Add Subscription</button>
                                  </div>
                              </form>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- Manual Sub End -->
                    
                      <!-- Begin edit profile -->
                      <div class="modal fade" id="uinfoModal" tabindex="-1" role="dialog" aria-labelledby="uinfoModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update User Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                      <form action="/cs/edituinfo/<%= user._id %>" method="POST">
                                          <div class="form-group">
                                                  <label>First Name</label>
                                                  <input type="text" class="form-control" name="firstName" value="<%= user.firstName %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>Last Name</label>
                                              <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>Nickname</label>
                                              <input type="text" class="form-control" name="nickName" value="<%= user.nickName %>" />
                                          </div>
                                          <div class="form-group">
                                              <label>Phone Number</label>
                                              <input type="text" class="form-control" name="phone" value="<%= user.phone %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>Address</label>
                                              <input type="text" class="form-control" name="address" value="<%= user.address %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>City</label>
                                              <input type="text" class="form-control" name="city" value="<%= user.city %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>State/Province</label>
                                              <input type="text" class="form-control" name="state" value="<%= user.state %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>Zip/Postal Code</label>
                                              <input type="text" class="form-control" name="zip" value="<%= user.zip %>" required/>
                                          </div>
                                          <div class="form-group">
                                              <label>Country</label>
                                              <input type="text" class="form-control" name="country" value="<%= user.country %>" required/>
                                          </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                              </form>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- END EDIT PROFILE-->
                    
                    <div class="modal fade" id="secModal" tabindex="-1" role="dialog" aria-labelledby="secModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Update Security Questions</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                    <form action="/cs/setsec/<%= user._id %>" method="POST">
                                        <div class="form-group">
                                                <label>Security Question</label>
                                                <select class="form-control" name="secQuest" required>
                                                  <option value="What is the name of the street you grew up on?">What is the name of the street you grew up on?</option>
                                                  <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                                                  <option value="What is you grandfather's first name?">What is you grandfather's first name?</option>
                                                  <option value="Where did you meet your spouse?">Where did you meet your spouse?</option>
                                                  <option value="What was the make and model of your first car?">What was the make and model of your first car?</option>
                                                </select>
                                        </div>
                                        <div class="form-group">
                                          <label>Answer</label>
                                          <input type="text" class="form-control" name="secResp" required/>
                                      </div>

                            
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    <div class="modal fade" id="serialModal" tabindex="-1" role="dialog" aria-labelledby="serialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update Serial Number</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form action="/cs/serial/add/<%= user._id %>" method="POST">
                                    <div class="form-group">
                                            <label>Serial</label>
                                            <input type="text" class="form-control" name="serial" required />
                                    </div>
                       
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                    <div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="familyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Family Member</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                    <form action="/cs/family/add/<%= user._id %>" method="POST">
                                        <div class="form-group">
                                          <label>Family Member E-Mail</label>
                                          <input type="text" class="form-control" name="femail" required/>
                                      </div>

                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                        
                            </div>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    <div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="primaryModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Family Member</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                                  Warning: This will make the current user into the parent account and all other associated family members will become child accounts. Make sure to transfer any subscription information properly.

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Make Primary</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="modal fade" id="updateSub" tabindex="-1" role="dialog" aria-labelledby="updateSub" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Subscription Update</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4>Choose an Option <small class="text-muted">When fixing a wrong purchase, make sure to have the customer cancel the incorrect plan through their app store account</small></h4>  
                          <h5>Flex Plans</h5>
                          <a href="/cs/add/fm/<%= user._id %>" class="btn btn-primary">Add Flex Monthly</a>
                          <a href="/cs/add/fb/<%= user._id %>" class="btn btn-primary">Add Flex+Extra Mile Monthly</a>
                          <a href="/cs/add/fy/<%= user._id %>" class="btn btn-primary">Add Flex Yearly</a>
                          <br />
                          <a href="/cs/remove/fm/<%= user._id %>" class="btn btn-primary">Remove Flex Monthly</a>
                          <a href="/cs/remove/fb/<%= user._id %>" class="btn btn-primary">Remove Flex+Extra Mile Monthly</a>
                          <a href="/cs/remove/fy/<%= user._id %>" class="btn btn-primary">Remove Flex Yearly</a>
                          <h5>Connect Plans</h5>
                          <a href="/cs/add/cm/<%= user._id %>" class="btn btn-primary">Add Connect Monthly</a>
                          <a href="/cs/add/cb/<%= user._id %>" class="btn btn-primary">Add Connect+Extra Mile Monthly</a>
                          <a href="/cs/add/cy/<%= user._id %>" class="btn btn-primary">Add Connect 1-Year</a>
                          <a href="/cs/add/cy/<%= user._id %>" class="btn btn-primary">Add Connect 2-Year</a>
                          <br />
                          <a href="/cs/remove/cm/<%= user._id %>" class="btn btn-primary">Remove Connect Monthly</a>
                          <a href="/cs/remove/cb/<%= user._id %>" class="btn btn-primary">Remove Connect+Extra Mile Monthly</a>
                          <a href="/cs/remove/cy/<%= user._id %>" class="btn btn-primary">Remove Connect 1-Year</a>
                          <a href="/cs/remove/cy/<%= user._id %>" class="btn btn-primary">Remove Connect 2-Year</a>
                          <h5>Just Extra Mile</h5>
                          <a href="/cs/add/em/<%= user._id %>" class="btn btn-primary">Add Extra Mile Monthly</a>
                          <br />
                          <a href="/cs/remove/em/<%= user._id %>" class="btn btn-primary">Remove Extra Mile Monthly</a>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    
            
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg mb-4">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Subscription Info</h6>
                </div>
                <div class="card-body">
                    
                        <div class="row1">
                            <div class="block1" style="float: left;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateSub">Update Subscription</button> <br><br>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mansubModal">Manual Subscription</button> <br><br>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serialModal">Update Serial</button> <br><br>
                            </div>
                            <div class="spacer block1" style="float: left; margin-left: 100px;">
                                <h6>Connect Plan:&nbsp;<small class="text-muted">
                                <!-- <%= (user.connPlan) ? 'Yes' : 'No' %> -->
                                </small></h6>
                                <h6>Flex Plan:&nbsp;<small class="text-muted">
                                    <!-- <%= (user.flexPlan) ? 'Yes' : 'No'  %> -->
                                    </small></h6>
                                <h6>Extra Mile:&nbsp;<small class="text-muted">
                                    <!-- <%= (user.extraMile) ? 'Yes' : 'No'  %> -->
                                    </small></h6>
                                <h6>Account Type:&nbsp;<small class="text-muted">
                                    <!-- <%= (user._id.equals(user.parent)) ? 'Parent' : 'Child' %> -->
                                    </small></h6>
                                <h6>Serial:&nbsp;<small class="text-muted">
                                    <!-- <%= user.serial %> -->
                                    </small></h6>
                                <h6>Plan:&nbsp;<small class="text-muted">
                                    <!-- <%= user.planId %> -->
                                    </small></h6> 
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
            
            
            <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Family Members</h6>
                </div>
                <div class="card-body">
                      <div class="well">
                          <table class="table table-stripped table-hover">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Account Type</th>
                                  </tr>
                                 <!-- <tbody>
                                      <% family.forEach(function(usr){ %>
                                          <%- include('obj/cs-family', {user : usr}); %>
                                      <% }) %>
                                  </tbody> -->
                              </thead>
                          </table>
                      </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Selected Products</h6>
                </div>
                <div class="card-body">
                  <div class="well">
                      <table class="table table-stripped table-hover">
                          <thead>
                              <tr>
                                  <th>Product</th>
                              </tr>
                             <!-- <tbody>
                                  <% user.products.forEach(function(prod){ %>
                                      <%- include('obj/cs-prod', {user : prod}); %>
                                  <% }) %>
                              </tbody> -->
                          </thead>
                      </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
            
            <div class="row">
            <!-- Content Column -->
            <div class="col-lg mb-4">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-body">
                            <h3 class="text-info">Not Seeing the right Trial?</h3>
                            <a href="/cs/fix90/<%= user._id %>" class="btn btn-primary">Fix 90 days</a>
                            <a href="/cs/fix30/<%= user._id %>" class="btn btn-primary">Fix 30 days</a> 
                </div>
              </div>
            </div>
          </div>
                    
        </div>
                  
        </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script type="text/javascript">
    document.getElementById("pimg").onchange = function () {
        var reader = new FileReader();

        reader.onload = function(e) {
            document.getElementById("pvimg").src = e.target.result;
        };

        reader.readAsDataURL(this.files[0]);

        document.getElementById("pv").hidden = false;
    };
      
                    // Create a Stripe client.
              var stripe = Stripe('pk_live_QFcaIyErmhCeRY13CY6F8xK8');
              // Create an instance of Elements.
              var elements = stripe.elements();
              // Custom styling can be passed to options when creating an Element.
              // (Note that this demo uses a wider set of styles than the guide below.)
              var style = {
                  base: {
                      color: '#32325d',
                      lineHeight: '18px',
                      fontFamily: '"Montserrat", sans-serif',
                      fontSmoothing: 'antialiased',
                      fontSize: '16px',
                      '::placeholder': {
                      color: '#aab7c4'
                      }
                  },
                  invalid: {
                      color: '#fa755a',
                      iconColor: '#fa755a'
                  }
              };
              // $(function() {
              // Create an instance of the card Element.
              var card = elements.create('card', {style: style});
              // Add an instance of the card Element into the `card-element` <div>.
              card.mount('#card-element');
              // Handle real-time validation errors from the card Element.
              card.addEventListener('change', function(event) {
              var displayError = document.getElementById('card-errors');
              if (event.error) {
                  displayError.textContent = event.error.message;
              } else {
                  displayError.textContent = '';
              }
              });
              // Handle form submission.
              var form = document.getElementById('payment-form');
              form.addEventListener('submit', function(event) {
              
                  if ($('#subscription').val() == 'none' && $('')) {
                      $('#payment-form').submit();
                  } else {
                      event.preventDefault();
                      stripe.createToken(card).then(function(result) {
                          if (result.error) {
                          // Inform the user if there was an error.
                          var errorElement = document.getElementById('card-errors');
                          errorElement.textContent = result.error.message;
                          } else {
                          // Send the token to your server.
                          stripeTokenHandler(result.token);
                          }
                      });
                  }
              });
              function stripeTokenHandler(token) {
                  // Insert the token ID into the form so it gets submitted to the server
                  var form = document.getElementById('payment-form');
                  var hiddenInput = document.createElement('input');
                  hiddenInput.setAttribute('type', 'hidden');
                  hiddenInput.setAttribute('name', 'stripeToken');
                  hiddenInput.setAttribute('value', token.id);
                  form.appendChild(hiddenInput);
                  // Submit the form
                  form.submit();
              }
</script>

</body>

</html>